site_name: edgygraph
repo_url: https://github.com/mathisxy/Edgy-Graph
repo_name: mathisxy/Edgy-Graph

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            members_order: source
  - awesome-pages